@charset "UTF-8";
/* line 12, ../sass/chenyisha.scss */
* {
  font-family: "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
}

/* line 15, ../sass/chenyisha.scss */
html, body {
  min-height: 100%;
  min-width: 100%;
}

/* line 19, ../sass/chenyisha.scss */
.navigation {
  background-color: #31394d;
  border-bottom: 2px solid #262d3c;
  padding-left: 2%;
}
/* line 23, ../sass/chenyisha.scss */
.navigation #menuTextLeft {
  color: #ece7df;
  cursor: pointer;
  font-size: 16px;
  font-weight: 200;
  transition: 0.3s;
}
/* line 29, ../sass/chenyisha.scss */
.navigation #menuTextLeft:hover {
  background-color: #fc4053;
  transform: scale(1.1);
}

/* line 37, ../sass/chenyisha.scss */
.navbar-nav li a {
  padding-bottom: 0;
  padding-top: 1px;
}

/* line 44, ../sass/chenyisha.scss */
.intro-header {
  padding-top: 0px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #31394d;
}

@keyframes typing {
  0% {
    width: 0;
  }
}
@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}
/* line 54, ../sass/chenyisha.scss */
.intro-message {
  position: relative;
  padding-top: 15%;
  padding-bottom: 10%;
  color: #ece7df;
}
/* line 59, ../sass/chenyisha.scss */
.intro-message h1 {
  font-size: 50px;
}
/* line 62, ../sass/chenyisha.scss */
.intro-message #cys__photo {
  width: 140px;
  -webkit-clip-path: circle(70px at 70px 70px);
  object-fit: cover;
  margin-bottom: 30px;
}
/* line 68, ../sass/chenyisha.scss */
.intro-message h3 {
  left: 30%;
  font: bold 200% Consolas, Monaco, monospace;
  border-right: .1em solid;
  width: 13ch;
  /* # of chars */
  margin: 1em 40%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 7s steps(13, end), blink-caret 0.5s step-end infinite alternate;
}

/* line 81, ../sass/chenyisha.scss */
#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/* line 89, ../sass/chenyisha.scss */
.content-section-a {
  text-align: center;
  padding-top: 5%;
  margin-bottom: 5%;
}
/* line 93, ../sass/chenyisha.scss */
.content-section-a h1 {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 20px;
}
/* line 98, ../sass/chenyisha.scss */
.content-section-a i {
  font-size: 30px;
}

/* line 102, ../sass/chenyisha.scss */
.intro-row {
  text-align: left;
  background-color: #1789ce;
  padding: 1.5em;
  color: #fafafa;
}
/* line 107, ../sass/chenyisha.scss */
.intro-row h3 {
  margin-left: 10%;
  font-size: 22px;
  font-weight: 100;
  text-shadow: 0 0 1px #fff;
}
/* line 112, ../sass/chenyisha.scss */
.intro-row h3 span {
  margin-left: 8%;
  text-shadow: none;
  white-space: pre;
  font-size: 20px;
}

/* line 120, ../sass/chenyisha.scss */
.hobby {
  background-color: #25e47a;
}

/* line 124, ../sass/chenyisha.scss */
.content-section-b {
  text-align: center;
  padding-top: 7%;
  padding-bottom: 7%;
}
/* line 128, ../sass/chenyisha.scss */
.content-section-b h1 {
  margin-right: 10px;
  margin-bottom: 20px;
}

/* line 134, ../sass/chenyisha.scss */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 140, ../sass/chenyisha.scss */
.cf:after {
  clear: both;
}

/* line 144, ../sass/chenyisha.scss */
.boxes {
  display: block;
  width: 44%;
  height: 320px;
  background: #fe4;
  position: relative;
  overflow: hidden;
  float: left;
  margin: 2%;
  cursor: pointer;
  box-shadow: 0 0 5px #ece7df;
}
/* line 155, ../sass/chenyisha.scss */
.boxes .da-image {
  min-height: 100%;
  width: 100%;
}

/* line 160, ../sass/chenyisha.scss */
.overlay {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: -100%;
  color: #FFF;
  background-color: #ffd124;
  z-index: 10;
  text-align: center;
}
/* line 171, ../sass/chenyisha.scss */
.overlay p {
  font-size: 50px;
  font-weight: 300;
  padding-top: 80px;
}

/* line 178, ../sass/chenyisha.scss */
.container-imgs {
  width: 1170px;
  display: block;
  margin: 0;
  padding-top: 1%;
  padding-bottom: 3%;
}

@keyframes shine {
  50% {
    transform: scale(1.1);
  }
}
/* line 189, ../sass/chenyisha.scss */
.btn-success {
  animation: 1s shine infinite;
}
/* line 191, ../sass/chenyisha.scss */
.btn-success i {
  padding-right: 5px;
  font-size: 25px;
}

/* line 197, ../sass/chenyisha.scss */
.content-section-c, .content-section-d, .content-section-e {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 6%;
  background-color: #1789ce;
  color: #fafafa;
}
/* line 203, ../sass/chenyisha.scss */
.content-section-c h1, .content-section-d h1, .content-section-e h1 {
  margin-right: 10px;
  margin-bottom: 20px;
}
/* line 207, ../sass/chenyisha.scss */
.content-section-c .row, .content-section-d .row, .content-section-e .row {
  padding-bottom: 3%;
}

/* line 212, ../sass/chenyisha.scss */
.content-section-d {
  background-color: #fdbb2c;
  color: #000;
}

/* line 216, ../sass/chenyisha.scss */
.md-img {
  transition: 0.2s;
}
/* line 218, ../sass/chenyisha.scss */
.md-img:hover {
  transform: scale(1.1);
}

/* line 222, ../sass/chenyisha.scss */
.boxes-md {
  display: block;
  width: 30%;
  height: 240px;
  background: #fe4;
  position: relative;
  overflow: hidden;
  float: left;
  margin: 1.5%;
  cursor: pointer;
  box-shadow: 0 0 5px #ece7df;
}
/* line 233, ../sass/chenyisha.scss */
.boxes-md .md-image {
  min-height: 100%;
  width: 100%;
}
/* line 237, ../sass/chenyisha.scss */
.boxes-md .overlay-md {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: -100%;
  color: #FFF;
  background-color: #1789ce;
  z-index: 10;
  text-align: center;
}
/* line 248, ../sass/chenyisha.scss */
.boxes-md .overlay-md p {
  font-size: 20px;
  font-weight: 300;
  padding-top: 80px;
}

/* line 255, ../sass/chenyisha.scss */
.content-section-e {
  background-color: #fc4053;
}
/* line 257, ../sass/chenyisha.scss */
.content-section-e h1 {
  margin-bottom: 30px;
}
/* line 260, ../sass/chenyisha.scss */
.content-section-e #lead-1 {
  margin-left: -88px;
}
/* line 263, ../sass/chenyisha.scss */
.content-section-e i {
  font-size: 30px;
  margin-right: 10px;
}

/* line 268, ../sass/chenyisha.scss */
.boxes-sm {
  width: 22%;
  height: 160px;
  margin: 1.5%;
}
/* line 272, ../sass/chenyisha.scss */
.boxes-sm .sm-image {
  min-height: 100%;
  width: 100%;
}
/* line 276, ../sass/chenyisha.scss */
.boxes-sm .overlay-sm {
  background-color: #fc4053;
}
/* line 278, ../sass/chenyisha.scss */
.boxes-sm .overlay-sm p {
  font-size: 20px;
  font-weight: 300;
  padding-top: 50px;
}
